/* Form Row */
.form{
    display: flex;
    justify-content: center;
    align-items: center;  
    gap: 20px;
    margin-top: 100px;    
}


.search{
    height: 44px;
    padding: 0 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}


.myBtn{
    height: 44px;           
    padding: 0 22px;        
    border: none;
    background-color: #28a745;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    
    display: flex;
    align-items: center;
    justify-content: center;

    line-height: 1;
}


.categories{
    margin-top: 50px;
    text-align: center;
}

.categories button{
    padding: 10px 15px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
}
