

.card{
    width: 400px;
    height: 500px;
    padding: 15px;

    border-radius: 10px;
    background: linear-gradient(135deg, #ffffff, #f4f7ff);

    box-shadow: 0 6px 10px rgba(0,0,0,0.12);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    transition: all 0.50s ease;
}

.card:hover{
    transform: translateY(-5px);
    box-shadow: 0 10px 16px rgba(0,0,0,0.2);
    
}


.card img{
    width: 250px;
    height: 450px;
    object-fit: cover;
    border-radius: 10px;
    display: block;
    transition: all 0.3s ease;
}

.card img:hover{
    overflow: hidden;
    transform: scale(.95);
}









.card-body{
    text-align: center;
    margin-top: 30px;
}